<div class="container">
  <input
    [(ngModel)]="searchTerm"
    type="text"
    placeholder="Buscar por nombre de presupuesto"
    class="form-control"
  />
  <div class="row mt-5">
    <div class="col">
      <div class="d-grid gap-2">
        <button class="btn btn-outline-dark" (click)="ordenarPorNombre()">
          Ordenar por Cliente
        </button>
        <button class="btn btn-outline-dark" (click)="ordenarPorFecha()">
          Ordenar por Fecha
        </button>
        <button class="btn btn-outline-dark" (click)="setIncialOrder()">
          Resetear Orden
        </button>
        <button class="btn btn-outline-dark" (click)="buscarPresupuestos()">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="presupuesto-container"
  *ngFor="
    let presupuesto of presupuestosFiltrados.length > 0
      ? presupuestosFiltrados
      : presupuestos
  "
>
  <div class="presupuesto-list">
    <ul class="list-unstyled">
      <li> <b>Nombre Presupuesto:</b> {{ presupuesto.name }}</li>
      <li><b>Cliente:</b>  {{ presupuesto.customer }}</li>
      <li> <b>Precio:</b>   {{ presupuesto.price }}</li>
      <li>
        <b>Fecha de Creación:</b>

        {{ presupuesto.date | date : "dd/MM/yyyy HH:mm:ss" }}
      </li>
    </ul>
  </div>
</div>
