

<h1 class="text-center">Welcome</h1>
<h3 class="text-center">Explanation</h3>
<p class="text-center pt-3">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro quos impedit,
  pariatur magni possimus ut? Aliquam eveniet dolores nemo? Dolores ad eveniet
  accusantium officiis perspiciatis assumenda cum sint, quia in tempora
  praesentium quam provident a earum quis id? Sed, facilis illum. Ipsum modi est
  vero! Nostrum excepturi nihil animi nam tempore? Consequuntur exercitationem
  quasi officia molestiae voluptatem. Dolor, illo. Ex commodi, sed fuga
  doloremque eius expedita in aspernatur quasi! Qui corporis quod, sed possimus
  exercitationem iste in ullam ratione velit repellendus accusamus aspernatur
  enim consequatur obcaecati nemo incidunt. Doloremque officiis quia fugiat quam
  culpa voluptates ipsam neque ipsa voluptate itaque!
</p>
<!-- <div class="d-flex justify-content-center align-items-center">
  <a routerLink="/checkbox" >HOME</a>
</div> -->

<a class="btn btn-primary" href="/checkbox">checkbox</a>





