<form [formGroup]="checkboxForm">
  <div class="main-content">
    <p>¿Qué quieres hacer?</p>
    <ul class="list-unstyled">
      <li>
        <label for="webPage">
          <input
            type="checkbox"
            id="webPage"
            formControlName="checkedWebPage"
          />
          Hacer una página web (500 €)
        </label>
      </li>
      <div *ngIf="checkboxForm.get('checkedWebPage')!.value">
        <app-panel (totalCostSent)="receiveTotalCost($event)"></app-panel>
      </div>

      <li>
        <label for="campaignSeo">
          <input
            type="checkbox"
            id="campaignSeo"
            formControlName="checkedCampaingSeo"
          />
          Hacer una campaña SEO (300 €)
        </label>
      </li>

      <li>
        <label for="adCampaign">
          <input
            type="checkbox"
            id="adCampaign"
            formControlName="checkedCampaingAdvertisement"
          />
          Hacer una campaña de publicidad (200 €)
        </label>
      </li>
    </ul>
    <!-- ! caban los checkbox -->
    <!-- inicio de inputs  -->
    <div class="details-section">
      <div>
        <label for="nombrePresupuesto">Nombre de presupuesto:</label>
        <input
          type="text"
          id="nombrePresupuesto"
          formControlName="nombrePresupuesto"
        />
      </div>

      <div>
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" formControlName="cliente" />
      </div>
    </div>
    <br />
    <!-- acaban los imputs -->
    <button
      type="submit"
      [disabled]="checkboxForm.invalid"
      (click)="agregarPresupuesto()"
    >
      Guardar
    </button>

    <br />
    <br />
    <button class="btn btn-primary" (click)="goBackHome()">Volver Atrás</button>
  </div>
  <aside class="sidebar">
    <p id="totalPrice">El Precio Total es: {{ totalFinalPrice }} €</p>
    <br /><app-presupuesto-list></app-presupuesto-list>
    <!-- ñkkhv -->
  </aside>

</form>
