<form
  [formGroup]="webForm"
  class="panel rounded  "
  id="panel-id"

>
<div class="inputs-containers container shadow rounded "  >
  <div class="row">
    <div class="col mt-2 d-flex justify-content-center align-items-center">
      <div class="form-group">
        <label for="number-pages">Numero de Paginas</label>
        <div class="input-group">
          <button
            type="button"
            class=" rounded btn btn-outline-secondary"
            (click)="reduceQuantityofPages()"
          >
            -
          </button>
          <input
            class="form-control"
            type="number"
            placeholder="numero de paginas"
            formControlName="numberOfPages"
            id="number-pages"
          />
          <button
            type="button"
            class=" rounded btn btn-outline-secondary"
            (click)="increaseQuantityofPages()"
          >
            +
          </button>

            <app-modal></app-modal>

        </div>

      </div>

    </div>
  </div>

  <div class="row">
    <div class="col mb-2 d-flex justify-content-center align-items-center ">
      <div class="form-group ">
        <label for="number-languages">Numero de Lenguas</label>
        <div class="input-group">
          <button
            type="button"
            class=" rounded  btn btn-outline-secondary"
            (click)=" reduceQuantityofLanguages()"
          >
            -
          </button>
          <input
            class="form-control "
            type="number"
            placeholder="introduce numero de Lenguas"
            formControlName="numberOfLanguages"
            id="number-languages"
          />
          <button
            type="button"
            class=" rounded  btn btn-outline-secondary"
            (click)="increaseQuantityofLanguages()"
          >
            +
          </button>
          <app-modal ></app-modal>
        </div>
      </div>

    </div>
  </div>
</div>

</form>
